body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  /*font-family: 'Oxygen', sans-serif;*/
}

/** HEADER Section **/
#header-nav {
  background-color: #aaa;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  margin: 0px;
  padding: 10px 10px 10px 30px;
  text-align: left;
}
.navbar-brand h1 { /* Company name */
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
  background-color: #aaa;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
}

#drop-list {
  /*margin-top: 10px;*/
  list-style-type: none;
  margin-top: -1px;
  margin-bottom: 0px;
  background-color: #eee;
}
#drop-list li {
  border: 1px solid #aaa;
}
#drop-list a {
  color: #000;
  text-align: center;
}
#drop-list a:hover {
  background-color: #fff;
}

/* Main content */
#title h2 {
  color: #000;
  margin-top: 0px;
  margin-bottom: 20px;
}
#chicken {
  background-color: orange;
  height: 1000px;
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10px;
  overflow: hidden;
}
#chicken h3 {
  margin-top: 0px;
  padding-top: .5em;
}